.card-horizon-con{
    height: 200px;
    overflow: hidden;/*はみ出したら表示しない*/
}

.center{
    margin: 2em auto;
}

.left > img{
    width: 200px;
    height: 200px;
}

.postdata{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    padding: 10px;
}

.postdata:hover {
    opacity: 1;
    transition: 1.0s;
    -moz-transition: 1.0s;
    -o-transition: 1.0s;
}

.postdata > ul{
    padding: 0;
}

.postdata > ul > li{
    list-style: none;
    border-bottom: 1px solid white;
}

.postdata-sp{
    display: none;
}

.category,.author{
    position: absolute;
    background: gray;
    opacity: 0.6;
}

.category{
    top: 0;
    left: 0;
}

.author{
    bottom: 0;
    left: 0;
}

.category:hover,.author:hover{
    opacity: 1;
}

.category > p,.author > p{
    margin: 0;
}
@media (max-width: 768px){
    .card-horizon-con{
        border-radius: 0;
        height: 100px;
    }
    .left{
        width: 100px;
    }
    .left > img{
        height: 100px;
        width: 100px;
    }
    .postdata{
        display: none;
    }
    .postdata-sp{
        display: block;
    }
    .right{
        overflow: scroll;
    }
    .right > p{
        font-size: 0.75rem;
    }
}

.showmain{
    width: 800px;
}

.container .Target{
  width: 100%;
  height: 250px;
  margin-top: 10%;
  margin-right: 10%;
  margin-left: 10%;

  position: absolute;
 text-align: center;
 display: inline-block;
}

.showbody{
    margin: 1rem;
    width: 30rem;
}

.title_f{
    font-size: 1.5rem;
}